*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app {
    background-color: rgb(66, 140, 209);
    display: grid;
    place-content: center;
    min-height: 100vh;
  }